{% extends "base.html" %}

{% block title %}
Login Page
{% endblock %}


{% block content %}
<section class="blog pt-100 pb-100">
    <div class="col-md-12">
        <div class="container">
            {% for message in get_flashed_messages() %}
            {% if message == 'User was successfully registered.' %}
            <div class="badge badge-success">{{ message }}</div>
            {% else %}
            <div class="badge badge-danger">{{ message }}</div>
            {% endif %}
            {% endfor %}
            <div class="col-md-offset-3 mb-3 mt-5">
                {% from "security/_macros.html" import render_field_with_errors, render_field %}
<!--                {% include "security/_messages.html" %}-->
                <div class="col-xl-6 mx-auto text-center">
                    <div class="section-title mb-100">
                        <p>enter your credentials</p>
                        <h4>{{ _('Login') }}</h4>
                    </div>
                </div>
                <form class="contact-form input" action="{{ url_for_security('login') }}" method="post"
                      name="login_user_form">
                    {{ login_user_form.hidden_tag() }}
                    {{ render_field_with_errors(login_user_form.email) }}
                    {{ render_field_with_errors(login_user_form.password) }}
                    {{ render_field_with_errors(login_user_form.remember) }}
                    {{ render_field(login_user_form.next) }}
                    {{ render_field(login_user_form.submit, class="btn btn-success") }}
                </form>
                {% include "security/_menu.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}