.my-nav {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.blog {
    background-image: url("http://infinityflamesoft.com/html/abal-preview/assets/img/contact_back.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    color: #fff;
}

/* Other */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #e2e2e2;
    font-size: 20px;
    letter-spacing: 1px;
}

.header-text h2 {
    font-size: 60px;
    color: #fff;
    font-weight: 600;
}

.header-text span {
    padding: 10px;
    color: #82b62d;
}

.header-text h3 span {
    padding: 15px;
}

.header-text p {
    font-size: 17px;
    line-height: 22px;
}

.gap-t-30 {
    margin-top: 30px;
}

/* Other */

/* Contacts */
.pb-100 {
    padding-bottom: 100px;
}

.pt-100 {
    padding-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: #333;
    -webkit-transition: .4s;
    transition: .4s;
}

.section-title {
    position: relative;
}

.section-title p {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 400;
}

.section-title h4 {
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 20px;
    display: inline-block;
}

.section-title h4::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background-color: #d8d8d8;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}

.section-title h4::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #FF7200;
    left: 0;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
}

.contact {
    background-image: url("http://infinityflamesoft.com/html/abal-preview/assets/img/contact_back.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    color: #fff;
}



.contact-form input,
textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 5px 10px;
    text-transform: capitalize;
    margin-top: 15px;
    background-color: transparent;
    color: #fff;
}

.contact:before, .blog:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #333;
    z-index: -1;
    opacity: .85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}

.single-contact {
    text-align: left;
    position: relative;
    padding-left: 70px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.single-contact i.fa {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #FF7200;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
}

.single-contact h5 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}

.single-contact p {
    font-size: 15px;
    font-weight: 400;
}

.contact-form input[type="submit"] {
    background-color: #FF7200;
    border: 0px;
    cursor: pointer;
    font-size: 16px;
    -webkit-transition: .4s;
    transition: .4s
}

.contact-form input[type="submit"]:hover {
    background-color: #CC5B00
}

.contact-form input:focus, textarea:focus {
    border-color: #CC5B00
}

/* Contacts */

/* About Us */
.aboutus-section {
    padding: 90px 0;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.aboutus-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

a:hover, a:active {
    color: #ffb901;
    text-decoration: none;
    outline: 0;
}
.aboutus-more {
    border: 1px solid #fdb801;
    border-radius: 25px;
    color: #fdb801;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}
.feature .feature-box .iconset {
    float: left;
    position: relative;
    width: 14%;
}
.feature .feature-box .iconset::after {
    background: #fdb801 none repeat scroll 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}


.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}
.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}
.icon {
    color : #f4b841;
    padding:0px;
    font-size:40px;
    border: 1px solid #fdb801;
    border-radius: 100px;
    color: #fdb801;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}
/* About Us */

/* Footer */
.footer {
    position: relative;
    background-color: #222222;
    color: #989898;
    padding: 95px 0 50px;
    font-size: 16px;

}

.footer p {
    line-height: 26px;
    color: #fff;
}

.footer h5 {
    font-size: 25px;
    font-weight: 700;
    color: #f65314;
    position: relative;
    padding-bottom: 16px;
}

.footer h5:after {
    content: '';
    display: block;
    margin: 5px 0 0;
    width: 40%;
    height: 1px;
    background-color: #1e1d22;
}

.footer ul {
    list-style: none;
    line-height: 35px;
    margin: 0px;
    color: #fff;

}

.footer a {
    color: #fff;


}

.footer a:hover {
    color: #f65314;
}

/* Footer Logo */
.foot-logo {
    margin: 0px 0px 18px 0px;
    padding: 0;
}

/*footer bottom */
.footer-bottom {
    padding-top: 10px;
    padding-bottom: 25px;
    border-top: 1px solid #2f2f33;
    background: #1e1d22;

}

.copyright-text p {
    color: #7d7975;
    margin-top: 18px;
    margin-bottom: 0;
    font-size: 15px;
}

.copyright-text a {
    color: #7d7975;
    margin: 0px 10px 0px 10px;

}

.copyright-text a:hover {
    color: #f65314;


}

/* Social Icons */

.social-icons {

    margin: 0;
    padding: 0;
    font-size: 10px;
}

.social {
    margin: 7px 7px 7px 0px;
    color: #fff;
}


#social-fb:hover {
    color: #3B5998;
    transition: all .25s;
}

#social-tw:hover {
    color: #4099FF;
    transition: all .25s;
}

#social-gp:hover {
    color: #d34836;
    transition: all .25s;
}

#social-em:hover {
    color: #f39c12;
    transition: all .25s;
}

/* cta section */
/*******************
Padding-Margin
*********************/

.cta-padding35 {
    padding: 35px 0 40px;
    background-color: #f65314;
    color: #fff;
    border-bottom: 1px solid #222222;
}

.Tpadding10 {
    padding-top: 10px;
    color: #fff;
}

.TBpadding60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.site-btn {
    font-size: 18px;
    padding: 13px 30px;
    border-radius: 5px;
    min-width: 200px;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #f65314;
    background-color: transparent;
    transition: all .25s ease-in-out;
    border-color: #f65314;
}

.site-btn2 {
    padding: 13px 30px;
    border-radius: 5px;
    min-width: 200px;
    color: #000;
    border-color: #000;
    margin-top: 5px;
    margin-bottom: 5px;
}

.site-btn:hover {
    background-color: #000;
}


.secpaddingTB60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-title {
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: none;
    color: #000;
}

.section-titlepara {
    font-weight: 400;
    text-transform: none;
    color: #636363;
}

.border {
    border-bottom: 1px solid #e2e2e2;
    width: 30%;
    margin-bottom: 25px;

}


i {
    font-size: 36px;
    padding-right: 10px;
    color: #f65314;
}

.icon-box {
    position: relative;
    margin-top: 20px;
    padding: 0 0 0 80px;
}

.icon-left {
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 0;
    left: 0;
}

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;


}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;

}

.carousel-caption h1 {

    font-size: 64px;
    font-weight: 600;
    margin-bottom: 20px;
}


/* navigation CSS */
.navbar-default {
    background-color: #000000;
    border-color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    letter-spacing: 2.5px;
    font-size: 17px;
}

.navbar-default .navbar-brand {
    color: #ecf0f1;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #f65314;
}

.navbar-default .navbar-text {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #f65314;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #000000;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #f65314;
    background-color: #000000;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #000000;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f65314;
    background-color: #000000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #f65314;
    background-color: #000000;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #f65314;
    background-color: #000000;
}

.navbar-default .navbar-toggle {
    border-color: #000000;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #000000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}

.navbar-default .navbar-link {
    color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
    color: #f65314;
}
