<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,800,900%7cRaleway:300,400,500,600,700"
      rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/style.css?version=8.3">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
        Home
        {% endblock %} | Flask app
    </title>
</head>

<body>

{% block nav %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark submit-btn">
        <a class="navbar-brand" href="/">TravelBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('posts.index')}}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/contacts">Contact Us</a>
                </li>
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="/login">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/sign-up">Sign up</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="/logout">Logout</a>
                </li>
                {% endif %}
                {% if current_user.has_role('admin') %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="/admin">Admin Tools</a>
                </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0" method="get">
                <input class="form-control mr-sm-2" type="search" name="q" value="{{ request.args.get('q', '') }}"
                       placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>
{% endblock %}

{% block content %}
<section>
    <div id="carouselExampleIndicators" class="carousel slide my-carousel my-carousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active"
                 style="background-image: url('https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg?w=940&h=650&auto=compress&cs=tinysrgb')">
                <div class="mb-5 header-text text-center hidden-xs">
                    <div class="main_title ">
                        <span><b>Welcome to Travel Land</b></span>
                        <h2>Enjoy the Freedom</h2>
                        <p>Our aggregator runs searches on numerous Web sites simultaneously and then links <br>
                            directly to the search results so you can easily
                            find and purchase the tour to enjoy.</p>
                    </div>
                    <div class="">
                        <div class="gap-t-30"></div>
                        <a class="btn btn-lg btn-success" href="{{url_for('posts.create_post')}}">&plus; Add your
                            post</a>
                    </div>
                </div><!-- /header-text -->
            </div>
            <div class="carousel-item "
                 style="background-image: url('https://images.pexels.com/photos/672358/pexels-photo-672358.jpeg?w=940&h=650&auto=compress&cs=tinysrgb')">
                <div class="mb-5 header-text text-center hidden-xs">
                    <div class="main_title ">
                        <span><b>Welcome to Travel Land</b></span>
                        <h2>Enjoy the Freedom</h2>
                        <p>Our aggregator runs searches on numerous Web sites simultaneously and then links <br>
                            directly to the search results so you can easily
                            find and purchase the tour to enjoy.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item "
                 style="background-image: url('https://images.pexels.com/photos/33545/sunrise-phu-quoc-island-ocean.jpg?w=940&h=650&auto=compress&cs=tinysrgb')">
                <div class="mb-5 header-text text-center hidden-xs">
                    <div class="main_title ">
                        <span><b>Welcome to Travel Land</b></span>
                        <h2>Enjoy the Freedom</h2>
                        <p>Our aggregator runs searches on numerous Web sites simultaneously and then links <br>
                            directly to the search results so you can easily
                            find and purchase the tour to enjoy.</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
{% endblock %}

{% block footer %}
<!-- FOOTER -->
<!-- section-row-column-site identition -->
<div class="footer-section">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5 footer-one">
                    <div class="foot-logo">
                        <img src="http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/footer_logo.png">
                    </div>
                    <p>Providing Life Changing Experiences Through Education. Class That Fit Your Busy Life. Closer
                        to
                        Home</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-3x social"></i></a>
                        <a href="https://twitter.com/"><i class="fa fa-twitter-square fa-3x social"></i></a>
                        <a href="https://plus.google.com/"><i class="fa fa-google-plus-square fa-3x social"></i></a>
                        <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
                    </div>
                </div>
                <div class="col-md-4 footer-two">
                    <ul>
                        <li><h5>Quick Links</h5></li>
                        <li><a href="#"> About Us</a></li>
                        <li><a href="#"> Our News</a></li>
                        <li><a href="#"> Our Services</a></li>
                        <li><a href="#"> Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-three">
                    <ul>
                        <li><h5>Services</h5></li>
                        <li><a href="#"> About Us</a></li>
                        <li><a href="#"> Our News</a></li>
                        <li><a href="#"> Our Services</a></li>
                        <li><a href="#"> Contact Us</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 ">
                <div class="copyright-text">
                    <p>CopyRight © 2020 Digital All Rights Reserved</p>
                </div>
            </div> <!-- End Col -->
            <div class="col-sm-6  ">
                <div class="copyright-text pull-right">
                    <p><a href="#">Home</a> | <a href="#">Privacy</a> |<a href="#">Terms & Conditions</a> | <a
                            href="#">Refund
                        Policy</a></p>
                </div>
            </div> <!-- End Col -->
        </div>
    </div>
</div>
<!-- END FOOTER -->
{% endblock %}

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</html>