{% extends "base.html" %}

{% block title %}
Contacts
{% endblock %}


{% block content %}
<section class="contact pt-100 pb-100" id="contact">
    <div class="container">
        {% for message in get_flashed_messages() %}
            {% if message == 'Your form was successfully send.' %}
            <div class="badge badge-success">{{ message }}</div>
            {% else %}
            <div class="badge badge-danger">{{ message }}</div>
            {% endif %}
        {% endfor %}
        <div class="row">
            <div class="col-xl-6 mx-auto text-center">
                <div class="section-title mb-100">
                    <p>get in touch</p>
                    <h4>contact me</h4>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-8">
                <form action="{{url_for('contacts')}}" method=post class="contact-form">
                    <div class="row">
                        <div class="col-xl-6">
                            {{ form.name(placeholder='Name') }}
                        </div>
                        <div class="col-xl-6">
                            {{ form.email(placeholder='Email') }}
                        </div>
                        <div class="col-xl-6">
                            {{ form.subject(placeholder='Subject') }}
                        </div>
                        <div class="col-xl-6">
                            {{ form.telephone(placeholder='Telephone') }}
                        </div>
                        <div class="col-xl-12">
                            {{ form.message(placeholder='Message') }}
                            {{ form.submit }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="single-contact">
                    <i class="fa fa-map-marker"></i>
                    <h5>Address</h5>
                    <p>661 Lefferts, NY 11203, USA</p>
                </div>
                <div class="single-contact">
                    <i class="fa fa-phone"></i>
                    <h5>Phone</h5>
                    <p>(+1) 517 397 7100</p>
                </div>
                <div class="single-contact">
                    <i class="fa fa-envelope"></i>
                    <h5>Email</h5>
                    <p>infor@personal.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
