{% extends "base.html" %}

{% block title %}
Login Page
{% endblock %}


{% block content %}
<section class="contact pt-100 pb-100" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 mx-auto text-center">
                <div class="section-title mb-100">
                    <p>add your account</p>
                    <h4>registration form</h4>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <form action="{{url_for('register_user')}}" method=post class="contact-form">
                    <div class="row">
                        <div class="col-xl-6">
                            {{ form.username(placeholder='Name') }}
                            {% if form.username.errors %}
                            <div class="badge badge-warning">{% for error in form.username.errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-xl-6">
                            {{ form.email(placeholder='Email') }}
                            {% if form.email.errors %}
                            <div class="badge badge-warning">{% for error in form.email.errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-xl-6">
                            {{ form.password(placeholder='Password') }}
                            {% if form.password.errors %}
                            <div class="badge badge-warning">{% for error in form.password.errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-xl-6">
                            {{ form.confirm(placeholder='Confirm Password') }}
                            {% if form.confirm.errors %}
                            <div class="badge badge-warning">{% for error in form.confirm.errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-xl-12">
                            {{ form.accept_tos(class='') }}
                            {{ form.accept_tos.label(class='badge badge-warning text-left') }}
                            {{ form.submit }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}